<!DOCTYPE html>
<html lang='ja' ng-app>
  <body>
    <div ng-controller='CartController'>
      <div ng-repeat="item in items">
        <span>{{item.title}}</span>
        <input ng-model="item.quantity">
        <span>{{item.price | currency}}</span>
        <span>{{item.price * item.quantity | currency}}</span>
      </div>
      <div>小計: {{totalCart() | currency}}</div>
      <div>値引き: {{bill.discount | currency}}</div>
      <div>合計: {{subtotal() | currency}}</div>
    </div>


    <script src='/js/angular.js'></script>
    <script>
      function CartController($scope) {
        $scope.bill = {};
        $scope.items = [
          {title: 'ペイントポット', quantity: 8,  price: 3.95},
          {title: 'ポルカドット',   quantity: 17, price: 12.95},
          {title: 'ペブル',         quantity: 5,  price: 6.95}
        ];

        // 読み込み時にtotalCartは6回実行される
        $scope.totalCart = function(){
          var total = 0;
          for (var i = 0, len = $scope.items.length; len > i; i++){
            total += $scope.items[i].price * $scope.items[i].quantity
          }
          return total;
        };

        $scope.subtotal = function() {
          return $scope.totalCart() - $scope.bill.discount;
        };

        function calculateDiscount(newValue, oldValue, scope) {
          $scope.bill.discount = newValue > 100 ? 10 : 0;
        }

        // $watch
        $scope.$watch($scope.totalCart, calculateDiscount);
      }
    </script>
  </body>
</html>

