<!DOCTYPE html>
<html lang='ja' ng-app>
  <body>
    <div ng-controller='HeaderController'>
      <div ng-class='{error: isError, warning: isWarning}'>
        {{messageText}}
      </div>
      <button ng-click='showError()'>エラーを発生させる</button>
      <button ng-click='showWarning()'>警告を発生させる</button>
    </div>

    <style type='text/css'>
      .error {
        background-color: red;
      }
      .warning {
        background-color: yellow;
      }
    </style>

    <script src='/js/angular.js'></script>
    <script>
      function HeaderController($scope) {
        $scope.isError = false;
        $scope.isWarning = false;

        $scope.showError = function() {
          $scope.messageText = 'エラー発生!';
          $scope.isError = true;
          $scope.isWarning = false;
        }

        $scope.showWarning = function() {
          $scope.messageText = '単なる警告です。操作を続けてください';
          $scope.isWarning = true;
          $scope.isError = false;
        }
      }
    </script>
  </body>
</html>

