<!DOCTYPE html>
<html lang='ja' ng-app>
  <style type='text/css'>
    .selected {
      background-color: lightgreen;
    }
  </style>

  <body>
    <table ng-controller='RestaurantTableController'>
      <tr ng-repeat='restaurant in directory' ng-click='selectRestaurant($index)' ng-class='{selected: $index==selectedRow}'>
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.cuisine}}</td>
      </tr>
    </table>


    <script src='/js/angular.js'></script>
    <script>
      function RestaurantTableController($scope) {
        $scope.directory = [
          {
            name: 'ハンサム・ヘファー',
            cuisine: 'BBQ'
          },
          {
            name: 'グリーンズ・グリーン・グリーンズ',
            cuisine: 'サラダ'
          },
          {
            name: 'ハウス・オブ・ファイン・フィッシュ',
            cuisine: 'シーフード'
          }
        ];

        $scope.selectRestaurant = function(row) {
          $scope.selectedRow = row;
        }
      }
    </script>
  </body>
</html>

