<!DOCTYPE html>
<html lang='ja' ng-app>
  <body>
    <ul ng-controller='StudentListController'>
      <li ng-repeat='student in students'>
        <a href='/student/view/{{student.id}}'>{{student.name}}</a>
      </li>
    </ul>
    <button ng-click='insertTom()'>追加</button>

    <script src='angular.js'></script>
    <script>
      var students = [
        {name: 'メアリー・コントラリー', id: '1'},
        {name: 'ジャック・スプラット'  , id: '2'},
        {name: 'ジル・ヒル'            , id: '3'}
      ];

      function StudentListController($scope) {
        $scope.students = students;

        $scope.insertTom = function() {
          $scope.students.splice(1, 0, {name: 'トム・サム', id: '4'});
        };
      }

    </script>
  </body>
</html>

